@charset "utf-8";
@import "../common/reset";
@import "../common/webfonts";
@import "../utills/mixin";

html, body{
    min-width:1280px;
}
.btn {
    @include btn;

    &.btn_style {
        background:$mainColor;
        color:$mainColor2;
        border:0;
        max-width:205px;
        width:100%;
    }
    &.btn_style2 {
        background:0;
        color:$mainColor;
        border:1px solid rgba(255,255,255,.31);
        max-width:205px;
        width:100%;
        padding: 0 0 0 35px;
        background:url(../../assets/images/btn.png)no-repeat 35px 50%;
    }
    &.btn_style3 {
        color:$mainColor;
        border:0;
        max-width:205px;
        width: 100%;
        background: linear-gradient(to right, #264699, #4964a9);
    }
    ~.btn {
        margin-left:10px;
    }
}
.main_title1 {
    @include fontTitle;
    color:$mainColor;
    margin-bottom: 32px;

    &.style1 {
        //@include gradient;
    }
}


header {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 130px;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width:1280px;
    margin:0 auto;
    padding:0 20px;
        
    .logo a {
        color:$mainColor;
        font-size:2.25rem;
        font-weight:400;
    }
}
nav ul {
    display: flex;

    li {
        padding-left:33px;
        a {
            color:$mainColor;
            font-size:1.125rem;
            height:40px;
            display: block;
            line-height: 40px;
        }
        &:last-child a {
            border:1px solid rgba(255,255,255,.31);
            border-radius:50px;
            padding:0 20px;
        }
    }
}

.main_visual {
    background:url(../../assets/images/bg.png)no-repeat center;
    background-size:cover;
    padding:304px 0 557px;
    text-align: center;
    position: relative;

    dl {
        padding-bottom:61px;
        dt {
            font-size:3rem;
            font-weight:bold;
            color:$mainColor;
            padding-bottom:18px;
        }
        dd {
            font-size:1.12em;
            font-weight:400;
            line-height: 36px;
            color:#e96f52;
        }
    }
    .scroll_icon {
        position: absolute;
        bottom: 108px;
        left:50%;
        transform: translate(-50%, 0);
        font-size:1.125rem;
        color: rgba(255,255,255,.3);
        background: url(../../assets/images/scroll_icon.png)no-repeat 50% 0;
        background-size: 25px 43px;
        height: 75px;
        display: flex;
        align-items: flex-end;
    }
}

.about {
    background:$mainColor5;
    padding: 119px 0 98px;
    text-align: center;

    >div {
        padding: 0 20px;
        display: flex;
        justify-content: center;

        dl {
            margin-bottom:105px;
            padding:0 45px;

            dt {
                font-size:1.875rem;
                font-weight:bold;
                //@include gradient;
                margin-bottom: 22px;
                color:transparent;

                &::before{
                    content:'';
                    height:98px;
                    display: block;
                    margin-bottom: 22px;
                }
                &.icon {
                    &::before {
                        background:url(../../assets/images/icon.png)no-repeat 50% 0;
                        background-size:103px 100%;
                    }
                }
                &.icon2 {
                    &::before {
                        background:url(../../assets/images/icon2.png)no-repeat 50% 0;
                        background-size:97px 100%;
                    }
                }
                &.icon3 {
                    &::before {
                        background:url(../../assets/images/icon3.png)no-repeat 50% 0;
                        background-size:84px 100%;
                    }
                }
                &.icon4 {
                    &::before {
                        background:url(../../assets/images/icon4.png)no-repeat 50% 0;
                        background-size:71px 100%;
                    }
                }
            }
            dd {
                font-size:1.125rem;
                font-weight:400;
                color:$mainColor3;
                line-height: 30px;
            }
            &:first-child {
                padding-left:0;
            }
            &:last-child {
                padding-right:0;
            }
        }
    }
}

.pricing {
    background: url(../../assets/images/bg2.png)no-repeat right top 40px;
    background-size:765px 610px;
    padding: 110px 20px;

    .desc {
        font-size:1.125rem;
        font-weight:400;
        line-height: 36px;
        color:$mainColor3;
        padding-bottom:61px;
    }
    ul {
        max-width:1000px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        li {
            flex: 1 1 50%;
            
            dl {
                display: flex;
                justify-content: space-between;
                align-items: center;

                dt {
                    width:50px;
                    height:50px;
                    font-size:1.5rem;
                    line-height: 50px;
                    border:2px solid $mainColor6;
                    border-radius: 50px;
                    text-align: center;
                    flex-shrink: 0;
                }
                dd {
                    font-size:0.875rem;
                    line-height: 24px;
                    color:$mainColor4;
                    padding-left:30px;
                }
                ~dl{
                    margin-top:50px;
                }
            }
            &:last-child{
                padding-left: 50px;
            }
        }
    }
}

.ourDrones {
    ul {
        li {
            display: flex;
            align-items: center;

            &:last-child {
                flex-direction: row-reverse;

                .txt_box {
                    padding: 0 70px 0 200px;
                }
            }
            >div {
                //flex: 1 1 50%;
                position: relative;
                width:50%;

                &.video_box {
                    img {
                        width:100%;
                        vertical-align: top;
                    }
                    .video_playBtn { 
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform: translate(-50%, -50%);
                        width: 50px;
                        height: 50px;
                        background: url(../../assets/images/btn.png)no-repeat 53%;
                        background-size: 14px 17px;
                        color: transparent;
                        border-radius: 50px;
                        border: 1px solid $mainColor;
                        cursor: pointer;
                        box-shadow:1px 1px 49px rgba(10,22,45,.4)
                    }
                }
                &.txt_box {
                    padding:0 150px 0 70px;
                    box-sizing: border-box;

                    p {
                        font-size:1.125rem;
                        color:$mainColor3;
                        line-height: 36px;
                        padding-bottom:60px;
                    }
                }
            }
        }
        
    }
}

.ourRealizations {
    background:url(../../assets/images/bg5.png)no-repeat 50%;
    background-size:cover;
    text-align: center;
    padding:160px 0;

    .main_title1{margin-bottom:48px;}

    fieldset {
        input {
            background: rgba(255,255,255,.3);
            border:1px solid rgba(255,255,255,.3);
            width: 283px;
            height: 50px;
            padding: 0 30px;
            box-sizing: border-box;
            border-radius: 50px;
            font-family:$proxima,sans-serif;
            color:$mainColor;
            &::placeholder {
                color:$mainColor;
                font-family:$proxima,sans-serif;
                font-size:1.125rem;
                font-weight:300;
            }
        }
        .btn_style {
            max-width:135px;
            margin-left:-40px;
            vertical-align: top;
        }
    }
}

.contact {
    img{width:100%;}
}

footer {
    font-size:1.125rem;
    color:$mainColor4;
    line-height: 36px;
    font-weight:300;
    text-align: center;
    padding:70px 20px 275px;
}