@charset "utf-8";
@import "../common/reset";
@import "../common/webfonts";
@import "../utills/mixin";

html, body{
    min-width:128rem;
}
.btn {
    @include btn;

    &.btn_style {
        background:$mainColor;
        color:$mainColor2;
        border:0;
        max-width:20.5rem;
        width:100%;
    }
    &.btn_style2 {
        background:0;
        color:$mainColor;
        border:1px solid rgba(255,255,255,.31);
        max-width:20.5rem;
        width:100%;
        padding: 0 0 0 3.5rem;
        background:url(../../assets/images/btn.png)no-repeat 3.5rem 50%;
    }
    &.btn_style3 {
        color:$mainColor;
        border:0;
        max-width:20.5rem;
        width: 100%;
        background: linear-gradient(to right, #264699, #4964a9);
    }
    ~.btn {
        margin-left:10px;
    }
}
.main_title1 {
    @include fontTitle;
    color:$mainColor;
    margin-bottom: 3.2rem;

    &.style1 {
        //@include gradient;
    }
}


header {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 13rem;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width:128rem;
    margin:0 auto;
    padding:0 2rem;
        
    .logo a {
        color:$mainColor;
        font-size:3.6rem;
        font-weight:400;
    }
}
nav ul {
    display: flex;

    li {
        padding-left:3.3rem;
        a {
            color:$mainColor;
            font-size:1.8rem;
            height:4rem;
            display: block;
            line-height: 4rem;
        }
        &:last-child a {
            border:1px solid rgba(255,255,255,.31);
            border-radius:5rem;
            padding:0 2rem;
        }
    }
}

.main_visual {
    background:url(../../assets/images/bg.png)no-repeat center;
    background-size:cover;
    padding:30.4rem 0 55.7rem;
    text-align: center;
    position: relative;

    dl {
        padding-bottom:6.1rem;
        dt {
            font-size:4.8rem;
            font-weight:bold;
            color:$mainColor;
            padding-bottom:1.8rem;
        }
        dd {
            font-size:1.8rem;
            font-weight:400;
            line-height: 3rem;
            color:#e96f52;
        }
    }
    .scroll_icon {
        -webkit-appearance: none;
        appearance: none;
        border:0;
        position: absolute;
        bottom: 10.8rem;
        left:50%;
        transform: translate(-50%, 0);
        font-size:1.8rem;
        color: rgba(255,255,255,.3);
        background: url(../../assets/images/scroll_icon.png)no-repeat 50% 0;
        background-size: 2.5rem 4.3rem;
        height: 7.5rem;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
    }
}

.about {
    background:$mainColor5;
    padding: 11.9rem 0 9.8rem;
    text-align: center;

    >div {
        padding: 0 2rem;
        display: flex;
        justify-content: center;

        dl {
            margin-bottom:10.5rem;
            padding:0 4.5rem;

            dt {
                font-size:3rem;
                font-weight:bold;
                //@include gradient;
                margin-bottom: 2.2rem;
                color:transparent;

                &::before{
                    content:'';
                    height:9.8rem;
                    display: block;
                    margin-bottom: 2.2rem;
                }
                &.icon {
                    &::before {
                        background:url(../../assets/images/icon.png)no-repeat 50% 0;
                        background-size:10.3rem 100%;
                    }
                }
                &.icon2 {
                    &::before {
                        background:url(../../assets/images/icon2.png)no-repeat 50% 0;
                        background-size:9.7rem 100%;
                    }
                }
                &.icon3 {
                    &::before {
                        background:url(../../assets/images/icon3.png)no-repeat 50% 0;
                        background-size:8.4rem 100%;
                    }
                }
                &.icon4 {
                    &::before {
                        background:url(../../assets/images/icon4.png)no-repeat 50% 0;
                        background-size:7.1rem 100%;
                    }
                }
            }
            dd {
                font-size:1.8rem;
                font-weight:400;
                color:$mainColor3;
                line-height: 3rem;
            }
            &:first-child {
                padding-left:0;
            }
            &:last-child {
                padding-right:0;
            }
        }
    }
}

.pricing {
    background: url(../../assets/images/bg2.png)no-repeat right top 4rem;
    background-size:76.5rem 61rem;
    padding: 11rem 2rem;
    &>div{
        max-width:128rem;
        margin:0 auto;
    }

    .desc {
        font-size:1.8rem;
        font-weight:400;
        line-height: 3.6rem;
        color:$mainColor3;
        padding-bottom:6.1rem;
    }
    ul {
        max-width:100rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        li {
            flex: 1 1 50%;
            
            dl {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                dt {
                    width:5rem;
                    height:5rem;
                    font-size:2.4rem;
                    line-height: 5rem;
                    border:0.2rem solid $mainColor6;
                    border-radius: 5rem;
                    text-align: center;
                    flex-shrink: 0;
                }
                dd {
                    font-size:1.4rem;
                    line-height: 2.4rem;
                    color:$mainColor4;
                    padding-left:3rem;
                }
                ~dl{
                    margin-top:5rem;
                }
            }
            &:last-child{
                padding-left: 5rem;
            }
        }
    }
}

.ourDrones {
    ul {
        li {
            display: flex;
            align-items: center;

            &:last-child {
                flex-direction: row-reverse;

                .txt_box {
                    padding: 0 7rem 0 20rem;
                }
            }
            >div {
                //flex: 1 1 50%;
                position: relative;
                width:50%;

                &.video_box {
                    img {
                        width:100%;
                        vertical-align: top;
                    }
                    .video_playBtn { 
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform: translate(-50%, -50%);
                        width: 5rem;
                        height: 5rem;
                        background: url(../../assets/images/btn.png)no-repeat 57% 52%;
                        background-size: 1.4rem 1.7rem;
                        color: transparent;
                        border-radius: 5rem;
                        border: 0.1rem solid $mainColor;
                        cursor: pointer;
                        box-shadow:0.1rem 0.1rem 4.9rem rgba(10,22,45,.4)
                    }
                }
                &.txt_box {
                    padding:0 15rem 0 7rem;
                    box-sizing: border-box;

                    p {
                        font-size:1.8rem;
                        color:$mainColor3;
                        line-height: 3.6rem;
                        padding-bottom:6rem;
                    }
                }
            }
        }
        
    }
}

.ourRealizations {
    background:url(../../assets/images/bg5.png)no-repeat 50%;
    background-size:cover;
    text-align: center;
    padding:16rem 0;

    .main_title1{margin-bottom:48px;}

    fieldset {
        input {
            background: rgba(255,255,255,.3);
            border:0.1rem solid rgba(255,255,255,.3);
            width: 28.3rem;
            height: 5rem;
            padding: 0 3rem;
            box-sizing: border-box;
            border-radius: 5rem;
            font-family:$proxima,sans-serif;
            color:$mainColor;
            outline: none;
            &::placeholder {
                color:$mainColor;
                font-family:$proxima,sans-serif;
                font-size:1.8rem;
                font-weight:300;
            }

        }
        .btn_style {
            max-width:13.5rem;
            margin-left:-5rem;
            vertical-align: top;
        }
    }
}

.contact {
    img{width:100%;}
}

footer {
    font-size:1.8rem;
    color:$mainColor4;
    line-height: 3.6rem;
    font-weight:300;
    text-align: center;
    padding:7rem 2rem 27.5rem;
}